aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
amqp
asgiref
attrs
autobahn
Automat
billiard
Brotli
celery
certifi
cffi
channels
channels_redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
config
constantly
cron-descriptor
cryptography
cssselect2
daphne
Django
django-celery-beat
django-cors-headers
django-debug-toolbar
django-filter
django-model-utils
django-timezone-field
django_celery_results
djangorestframework
djangorestframework_simplejwt
drf-nested-routers
drf-yasg
et_xmlfile
factory_boy
Faker
flower
fonttools
frozenlist
gunicorn
humanize
hyperlink
icalendar
idna
incremental
inflection
iniconfig
kombu
msgpack
multidict
numpy
openpyxl
packaging
pandas
pillow
pluggy
prometheus_client
prompt_toolkit
propcache
pyasn1
pyasn1_modules
pycparser
pydyf
PyJWT
pyOpenSSL
pyphen
python-crontab
python-dateutil
python-decouple
pytz
PyYAML
redis
reportlab
requests
service-identity
setuptools
six
sqlparse
tinycss2
tinyhtml5
tornado
twilio
Twisted
txaio
typing_extensions
tzdata
ua-parser
ua-parser-builtins
uritemplate
urllib3
user-agents
vine
wcwidth
weasyprint
webencodings
yarl
zope.interface
zopfli
